.coordinate{
    border: 1px solid black;
    width: 500px;
    height: 300px;
    margin: 30px;
    text-align: center;
}
h1,h2,h3{
    color: #0e68c4;
}
.green{
    background: darkseagreen;
}
body{
    display: flex;
}
#firstContainer{
    width: 50%;
}
#secondContainer{
    border-left: 1px dotted black;
    padding: 20px;
}
.parent{
    width: 30%;
    height: 40px;
    border: 2px solid black;
}
.child{
    background: green;
    width: 100%;
    height: 40px;
}
button {
    background-color: #07720d;
    border: none;
    color: white;
    padding: 14px 27px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 10px;
    font-weight: bold;
}
input{
    width: 60%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 3px solid #ccc;
    outline: none;
}
input:focus {
    border: 3px solid #555;
}

